.buttonBox {
  display: flex;
  border: 1px solid rgb(114, 17, 17);
  justify-content: space-around;
  align-items: center;
  background-color: rgb(240, 164, 65);
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .3), 0 2px 4px -1px rgba(0, 0, 0, .2), 0 10px 12px -6px rgba(0, 0, 0, .4)
}

.buttonBoxContainer{
   /*display: flex;
    justify-content: space-around;
  align-items: center;*/
  text-align: center;
  border: 5px ridge rgb(114, 17, 17);
  background-color: rgb(240, 164, 65);
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px;
}

.button {
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-family: 'Comic Sans MS';
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    color: rgb(114, 17, 17);
    font-weight: 700;
    background-color: rgb(235, 144, 25);
    border: 1px solid rgb(114, 17, 17);
}

.button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.button:hover {
  color: white;
  background-color: rgb(114, 17, 17);
}


.catOverlay {
    position: relative;
    overflow: hidden;
}

.catDescription {
    text-align: center;
    font-size: 18px;
    line-height: calc(28/18);
    letter-spacing: 0.03em;
    color: rgb(114, 17, 17);
    background-color: rgb(235, 144, 25, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 20px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.165, 0.84, 0.44, 1);

}

.movieImage {
  width: 100%;
  height: 350px;
  border-bottom: 3px solid #f0d1a5;
}

.movieItem {
  margin: 10px;
  width:320px;
  background-color: rgb(240, 164, 65);
  border: 3px solid #f1dbba;
  color: #f1dbba;
  font-weight: 700;
  border-radius: 4px;
  font-family: 'Comic Sans MS';
  display: flex;
  flex-direction: column;
  align-items: center;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.movieName{
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(114, 17, 17);
}

.catName{
  background-color: rgb(235, 144, 25);
  border: 1px solid rgb(114, 17, 17);
  border-radius: 4px;
  padding: 2px;
  margin-top: 3px;
}

.pictureBox{
  display: flex;
  max-width: 1300px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.movieItem:hover .catDescription,
.movieItem:focus .catDescription {
    transform: translateY(0%);
}

.movieItemCover{
  position: relative;
}

.cover{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 1;
  visibility: visible;
   z-index: 1;
   border-radius: 5px;
}

.rulesHeader{
  display: inline-block;
  /*background-color: rgb(235, 144, 25);
  padding: 2px;
    border: 1px solid rgb(114, 17, 17);
    border-radius: 4px;*/
    margin: 20px;
    color: #f1dbba;
    font-family: Comic Sans MS;
    font-size: 25px;
    font-weight: 700;
    text-shadow: 3px 3px 20px #721111, 5px 5px 5px #000;
}

.rulesList{
  list-style-type:disc;
}

.rulesListItem{
  display: inline;
  color:rgb(114, 17, 17);
  font-weight: 700;
  border: 1px solid rgb(114, 17, 17);
    border-radius: 4px;
    padding: 2px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .3), 0 2px 4px -1px rgba(0, 0, 0, .2), 0 10px 12px -6px rgba(0, 0, 0, .4)
}